<div class="container">
  <div class="row">


    <div class="col-md-12">
      <h2>Детали клиента</h2>
      <div class="table-responsive">

          <div class="col-md-12">
            <div class="col-md-3">
            <h4>Фильтр:</h4>
            </div>
          </div>
          <input (keyup)="filterByName($event)" type="text" class="form-control fl" placeholder="По имени" style="width:110px; margin-right: 10px;">
        <input (keyup)="filterBySurname($event)" type="text" class="form-control fl" placeholder="По фамилии" style="width:110px; margin-right: 10px;">
        <input (keyup)="filterByPatronymic($event)" type="text" class="form-control fl" placeholder="По отчеству" style="width:110px; margin-right: 10px;">


        <table id="mytable" class="table table-bordred table-striped table-sortable">

          <thead>

            <tr>
            <th class="table-sortable">ФИО
              <button [ngClass]="{'fa-angle-down': orderName, 'fa-angle-up': orderName==false}" class="fa fa-angle-down trans" (click)="sortByName()">
              </button>
            </th>
            <th>Характер</th>
            <th>Возраст <button [ngClass]="{'fa-angle-down': orderAge, 'fa-angle-up': orderAge==false}" class="fa fa-angle-down trans" (click)="sortByAge()">
            </button>
            </th>
            <th>Общий остаток счетов<button [ngClass]="{'fa-angle-down': orderCommonMoney, 'fa-angle-up': orderCommonMoney==false}" class="fa fa-angle-down trans" (click)="sortByCommonMoney()">
            </button></th>
            <th>Максимальный остаток<button [ngClass]="{'fa-angle-down': orderMaxMoney, 'fa-angle-up': orderMaxMoney==false}" class="fa fa-angle-down trans" (click)="sortByMaxMoney()">
            </button></th>
            <th>Минимальный остаток<button [ngClass]="{'fa-angle-down': orderMinMoney, 'fa-angle-up': orderMinMoney==false}" class="fa fa-angle-down trans" (click)="sortByMinMoney()">
            </button></th>
            <th><button class="btn btn-xs" (click)="editClient(0)" data-title="Edit"
                        data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-plus green"></span>
            </button></th>



          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let client of clients">
            <td class="col-md-3">{{client.name}} {{client.surname}} {{client.patronymic}}</td>
            <td>{{client.charmName}}</td>
            <td>{{client.age}}</td>
            <td>{{client.commonMoney}}</td>
            <td>{{client.maxMoney}}</td>
            <td>{{client.minMoney}}</td>

            <td>
              <button class="btn btn-xs bs" (click)="editClient(client.id)" data-title="Edit"
                      data-toggle="modal" data-target="#edit"><span class="	glyphicon glyphicon-option-vertical"></span>
              </button>

              <button class="btn btn-xs bs" (click)="deleteClient(client.id)" data-title="Delete"
                      data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>


          </tbody>

        </table>

        <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <li [ngClass]="{'disabled': currentPage==0}"><a href="#" (click)="paging(currentPage-1)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <li></li>
          <li *ngFor="let i of page" [ngClass]="{'active' : i==currentPage}"><a href="#" (click)="paging(i)">{{i+1}}</a></li>
          <li [ngClass]="{'disabled': currentPage==page[page.length-1]}"><a href="#" (click)="paging(currentPage+1)"><span  class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>

      </div>

    </div>
  </div>
</div>
