<div class="col-md-12" style="height:600px;">
  <h1>Сохранение клиента</h1>

  <form [formGroup]="editForm">
    <div class="" style="padding-top:10px;">
      <div formGroupName="client" class="form-group">

        <div class="col-sm-4">
          <label> Имя: </label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-4">
          <label>Фамилия</label>
          <input type="text" class="form-control" formControlName="surname">
        </div>
        <div class="col-sm-4">
          <label>Отчество:</label>
          <input type="text" class="form-control" formControlName="patronymic">
        </div>
        <div class="col-sm-4">
          <label> Дата рожения</label>
          <input type="date" class="form-control" formControlName="birthDate">
        </div>
        <div class="col-sm-4">
          <label> Характер :</label>
          <select class="form-control" formControlName="charm">
            <option value="1">Характер 1</option>
            <option value="2">Характер 2</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label>Пол :</label>
          <select class="form-control" formControlName="gender">
            <option value="MALE">Мужской</option>
            <option value="FEMALE">Женский</option>
          </select>
        </div>
      </div>
      <h3>Адрес проживания</h3>
      <div formArrayName="addrs">
        <div class="form-group" [formGroupName]="0">
          <label> Адресс регистрации</label><br>
          <input type="hidden" formControlName="type" value="REG">
          <label>Улица: </label>
          <input type="text" formControlName="street">
          <label>Дом: </label>
          <input type="text" formControlName="house">

          <label>Квартира:</label>
          <input type="text" formControlName="flat">
        </div>

        <div class="form-group" [formGroupName]="1">
          <input type="hidden" value="FACT" formControlName="type">
          <label>Адресс фактического проживания</label><br>
          <label>Улица: </label>
          <input type="text" formControlName="street">
          <label>Дом: </label>
          <input type="text" formControlName="house">

          <label>Квартира:</label>
          <input type="text" formControlName="flat">
        </div>
      </div>
      <div formArrayName="phones">
        <div [formGroupName]="0">
          <label>Рабочий Телефон</label>
          <input type="text" formControlName="number">
        </div>

        <div [formGroupName]="1">
          <label>Мобильный Телефон</label>
          <input type="text" formControlName="number">
        </div>

        <div [formGroupName]="2">
          <label>Домашний Телефон</label>
          <input type="text" formControlName="number">
        </div>
      </div>

      <div class="absolute">
        <button class="btn btn-success bs" [disabled]="" (click)="onSubmit()">Сохранить</button>
        <input value="Отменить" type="button" class="btn btn-default" (click)="close()">
      </div>
    </div>
  </form>
{{editForm.value | json}}
</div>
